@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot');
  src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
    url('../fonts/icomoon.ttf') format('truetype'),
    url('../fonts/icomoon.woff') format('woff'),
    url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tmall:before {
  content: "\e619";
}
.icon-xys:before {
  content: "\e64c";
}
.icon-h5:before {
  content: "\e62f";
}
.icon-qq:before {
  content: "\e7a0";
}
.icon-c3:before {
  content: "\e8ee";
}
.icon-tag:before {
  content: "\e645";
}
.icon-yjt:before {
  content: "\e63e";
}
.icon-plane:before {
  content: "\e655";
}
.icon-php:before {
  content: "\e609";
}
.icon-jg:before {
  content: "\e69f";
}
.icon-dream:before {
  content: "\e623";
}
.icon-wechat:before {
  content: "\e628";
}
.icon-animate:before {
  content: "\e7a6";
}
.icon-money:before {
  content: "\e67c";
}
.icon-weibo:before {
  content: "\e61a";
}
.icon-js:before {
  content: "\e899";
}
.icon-video:before {
  content: "\e611";
}
.icon-top:before {
  content: "\e612";
}
.icon-help:before {
  content: "\e61e";
}
.icon-zjt:before {
  content: "\e600";
}
.icon-music:before {
  content: "\e610";
}
.icon-comment:before {
  content: "\e616";
}
.icon-time:before {
  content: "\e62a";
}
.icon-view:before {
  content: "\e602";
}
.icon-shop:before {
  content: "\e663";
}
.icon-close:before {
  content: "\e61f";
}
.icon-cms:before {
  content: "\e644";
}
.icon-search:before {
  content: "\e61b";
}
.icon-cate:before {
  content: "\e601";
}
.icon-run:before {
  content: "\e603";
}
.icon-manage:before {
  content: "\e671";
}
.icon-github:before {
  content: "\ea0a";
}
.icon-date:before {
  content: "\e61c";
}
.icon-lol:before {
  content: "\e613";
}
.fh5co-feature i{
  font-size:80px;
  color: #fbb040;
}
footer i {
  font-size: 22px;
}
